
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: white;

}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.1rem;
}



nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #423f3f;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #4CAF50;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
  display: block;
  border-radius: 8px;
}

main ul {
  list-style-type: none;
  padding: 0;
}

main ul li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 4px solid #FFEB3B;
  transition: background-color 0.3s;

}

main ul li:hover {
  background-color: #4caf4f5e;
}

main ul li a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

h2 {
  margin-top: 1.5rem;
  color: #4CAF50;
  font-size: 1.3rem;
}

p, ul li {
  margin-bottom: 1rem;
}

#map1, #map2, #map3 {
  height: 400px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }
  nav ul li {
      margin: 0;
      text-align: center;
  }
  header h1 {
      font-size: 1.5rem;
  }
  header p {
      font-size: 1rem;
  }
}
